@import '../../../../scss/variables.scss';

.Contacts {
    background-color: #161313;
    h2 {
        position: relative;
    }
}

.contact-section {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map-container {
    flex: 1;
    height: 100vh;
    width: 100%;

    background-color: rgb(202 235 217);
    background-image: url("img/map.png");
    overflow-x: hidden;
    position: relative;
}

.leaflet-container {
    width: 100%;
    height: 100vh;
}

.contact-form-container {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    min-height: 600px;
    height: 100vh;
    min-width: 400px;
    width: 50%;
    flex: 1;
    background-color: rgba(19, 75, 112, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;

    label,
    p {
        color: #fff;
    }

    p{
        text-align: center;
    }

    * {
        &:focus {
            outline: none;
            border: 2px solid #ffffff;
        }
    }
}

#photoshoot-type,
option,
input,
textarea {
    color: #000;

    &::placeholder {
        color: #000;
    }
}

.contact-form-container h2 {
    margin-bottom: 20px;
    font-size: 1.5rem;
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 320px;
    gap: 12px;
}

.contact-form label {
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    // margin-bottom: 15px;
    padding: 4px;
    border: 2px solid #ffffff00;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
}