@import '../../../../scss/variables.scss';

.Faq {
    background-color: #342d29;
    color: #333;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: url("img/bg-light.png");
        background-size: cover;
        background-position: center;
        filter: blur(5px) brightness(50%);
        z-index: 1;
    }

    * {
        z-index: 2;
    }

    .answers {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 100px;

        @media (max-width: $media-netbook) {
            padding: 10vh 24px;
            overflow-y: scroll;
            max-height: 100vh;
        }
    }
}

.faq {
    h2 {
        text-align: center;
    }

    &-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &-item {
        max-width: 600px;
        border-bottom: 1px solid #000;
        overflow: hidden;
        transition: all 0.3s ease;
        color: #fff;

        .faq-question {
            background-color: #12476a;
            padding: 8px;
            width: 100%;
            text-align: left;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: background-color 0.3s ease;

            &:hover {
                background-color: #12476add;
            }

            .plus-minus {
                font-size: 1.5rem;
                transition: transform 0.3s ease;

                &.open {
                    transform: rotate(45deg);
                }
            }
        }

        .faq-answer {
            background-color: #9085BF;
            overflow: hidden;
            transition: max-height 0.3s ease;

            p {
                padding: 15px;
                margin: 0;
            }
        }
    }
}